
AzureFunctionsCodebase/SelfMonitoring/Properties/PublishProfiles/FolderProfile.pubxml
AzureFunctionsCodebase/.vs/BackToWork/DesignTimeBuild/.dtbcache
AzureFunctionsCodebase/.vs/BackToWork/v16/.suo
AzureFunctionsCodebase/.vs/BackToWork/v16/Server/sqlite3/db.lock
AzureFunctionsCodebase/.vs/BackToWork/v16/Server/sqlite3/storage.ide
AzureFunctionsCodebase/SelfMonitoring/Properties/PublishProfiles/BackToWorkFunctions - Zip Deploy.pubxml
AzureFunctionsCodebase/SelfMonitoring/Properties/PublishProfiles/fnappeisx3kcykus74 - Zip Deploy.pubxml
